/* HEADER */

/* MAIN */
@media screen and (max-width: 1024px) {
    iframe.my-projects{
        width: 90%;
    }

    .div-gif{
        background-color: rgb(100, 60, 220);
        border-radius: 40% 60% 54% 46% / 35% 32% 68% 65%;
        overflow: hidden;
    }
}